* {
    box-sizing: border-box;
}

:root {
    --bg: #e0e0e0;
    --text: #212121;
    --top-bar: #2d2d2d;
    --top-bar-text: #ffffff;
    --pin-bg: #fcfcfc;
    --sidebar-bg: #f9f9f9;
    --sidebar-bg-active: #dbdbdb;
    --sidebar-btn: #ffffff;
    --edit-bg: #f3f3f3;
    --btn: #ffffff;
    --btn-hover: #e9e9e9;
    --btn-active: #d3d3d3;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    border: none;
    border-radius: 2px;
}

button:hover {
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--top-bar);
    color: var(--top-bar-text);
    padding: 10px;
}

#main-layout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#pin-bar {
    background-color: var(--pin-bg);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#main-section {
    flex-grow: 1;
    display: flex;
    width: 100vw;
    overflow: hidden;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg);
    width: 75px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.65rem;
    cursor: pointer;
}

.section:hover {
    background-color: var(--edit-bg);
}

#edit-panel {
    background-color: var(--edit-bg);
    max-width: 20vw;
    min-width: 200px;
    overflow-y: scroll;
    padding: 0px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.canvas-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;         /* later for zooming in/out */
}

#sheet-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 2vw 0;
    overflow-y: scroll;
}

#sheet-container > svg {
    flex-shrink: 0;
    border: 1px solid red;
}

@media print {
}
